.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

//0px-767px
@media screen and (max-width: 767px) {
  .mobile-menu__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 15px;
  }
  .mobile-menu_list {
    flex-grow: 1;
    margin-bottom: 1px;
  }
  .nav-list__link {
    display: none;
  }
  .contacts-link {
    display: none;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: var(--white-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
  }
  /*.mobile-menu_list {
    margin-bottom: 302px;
  }*/
  .mobile-menu_item {
    margin-bottom: 32px;
  }
  .mobile-menu_contacts {
    display: block;
    bottom: 134px;
  }

  .mobile-menu_contacts-item {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 64px;
    }
  }

  .mobile-menu-btn {
    background-color: transparent;

    border: none;
    padding-top: 0px;
    line-height: 0px;
    &:focus {
      fill: var(--blue-color);
    }
    &:hover {
      fill: var(--blue-color);
    }
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu_close-btn {
    position: absolute;
    top: 21px;
    right: 25px;
    background-color: transparent;
    border: none;
    padding-top: 0px;
    line-height: 0px;
    &:focus {
      fill: var(--blue-color);
    }
    &:hover {
      fill: var(--blue-color);
    }
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .mobile-menu_link {
    display: block;
    position: relative;
    color: var(--main-color);
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    &:hover,
    &:focus {
      color: var(--blue-color);
      fill: var(--blue-color);
    }
  }
  .current {
    color: var(--blue-color);
  }
  .mobile-menu_phone-link {
    display: block;
    position: relative;
    color: var(--blue-color);
    font-weight: 500;
    font-size: 32px;
    line-height: calc(40 / 32);
    letter-spacing: 0.02em;
  }
  .mobile-menu_mail-link {
    display: block;
    position: relative;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;
  }
  .mobile-menu_social-list {
    display: flex;
    bottom: 48px;
    flex-wrap: wrap;
    margin-left: -10px;
  }
  .mobile-menu_social-list_item {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    &:last-child {
      border-right: none;
    }
    margin-left: 10px;
  }
  .mobile-menu_social-list_link {
    display: block;
    position: relative;
    color: var(--blue-color);
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;
    padding-right: 10px;
  }
}

// 480px+
@media screen and (min-width: 480px) {
  .mobile-menu__container {
    padding-left: 40px;
  }
  .mobile-menu_social-list_link {
    font-size: 18px;
  }
}
// 768px+
@media screen and (min-width: 768px) {
  .mobile-menu__container {
    display: none;
  }
  .header_container {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .nav-list__link {
    display: block;
    position: relative;
    color: var(--main-color);
    font-weight: 500;
    padding: 32px 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    &:hover,
    &:focus {
      color: var(--blue-color);
      fill: var(--blue-color);
    }
  }
  .active::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--blue-color);
    border-radius: 2px;
    left: 0;
    bottom: -3px;
  }
  .current {
    color: var(--blue-color);
  }
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .contacts {
    display: block;
  }
  .contacts-link {
    display: flex;
    color: var(--secondary-color);
    align-items: center;
    font-weight: 500;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    &:hover .icon,
    &:focus .icon {
      color: var(--blue-color);
      fill: var(--blue-color);
    }
    &:hover,
    &:focus {
      color: var(--blue-color);
      fill: var(--blue-color);
    }
  }
  .contacts-link_header-mail {
    padding-top: 20px;
  }
  .contacts-link_header-phone {
    padding-bottom: 20px;
  }
  .contacts-item {
    margin-top: 5px;
    margin-bottom: 5px;
    &:first-child {
      margin-top: 0px;
    }
    &:last-child {
      margin-bottom: 0px;
    }
  }

  .icon {
    margin-right: 10px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
  }
  .mobile-menu-btn__icon {
    display: none;
  }
}
// 1200px+
@media screen and (min-width: 1200px) {
  .header-container {
    display: flex;
    justify-content: space-between;
  }

  .contacts {
    display: flex;
  }

  .contacts-item + .contacts-item {
    margin-left: 30px;
  }

  .contacts-link {
    display: flex;
  }
  .contacts-link_header-mail {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contacts-link_header-phone {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contacts-item {
    margin-top: 0px;
    margin-bottom: 0px;
    &:first-child {
      margin-top: 0px;
    }
    &:last-child {
      margin-bottom: 0px;
    }
  }
}
