/*.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--blue-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  &_color_black {
    color: var(--main-color);
  }
  &-color-white {
    color: var(--white-color);
  }
}*/

/*.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--blue-color);
}*/

.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-right: 115px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  color: var(--blue-color);
  &_color_black {
    color: var(--main-color);
  }
  &-color-white {
    color: var(--white-color);
  }
}

// 480px+
@media screen and (min-width: 480px) {
  .logo {
    margin-right: 276px;
  }
}

// 768px+
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
    font-size: 26px;
    line-height: calc(31 / 26);
  }
}

// 1200px+
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 94px;
    font-size: 26px;
    line-height: calc(31 / 26);
  }
}
